.appontment_title{
    color: #138496;
    text-align: center;
}
.appointment_section{
    color: #138496;
    text-align: left;
    margin: 50px 0px;
}
.card-deck{
    margin: 30px 50px;
    text-align: center;
}